<p id="notice"><%= notice %></p>

<h1>Задачи</h1>

<% @projects.each do |project| %>
	<h2><%= project.title %></h2>
	<ul>
		<%= render project.todos %>
		<h4>Новая задача</h4>
		<%= form_with(model: [project, project.todos.build], local: true) do |form| %>
			<p>
			  <%= form.text_field :text %>
			</p>
			<p>
			  <%= form.submit "Создать задачу" %>
			</p>
		<% end %>
	</ul>
<% end %>

<p>
<h2>Новый проект</h2>
</p>
<p>
	<%= form_with(model: @project, local: true) do |form| %>
		<% if @project.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
	
			<ul>
			<% @project.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
			</ul>
		</div>
		<% end %>
	
		<div class="field">
		<%= form.label "Название:" %>
		<%= form.text_field :title %>
		</div>
	
		<div class="actions">
		<%= form.submit "Создать проект" %>
		</div>
	<% end %>
</p>
